.card {
    flex: 0 1 calc(25% - 20px);
    background-color: rgb(81, 81, 81);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s; 
    color:white;
  }
  
  .card:hover {
    transform: scale(1.05); /* Aumenta un poco el tamaño */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
  }
  