#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c; 
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
